<section class="about" id="about">
  <div class="about-img">
    <img src="assets/about-image.png" alt="about image" />
  </div>
  <div class="about-content">
    <h2 class="heading">About <span>Me</span></h2>
    <h3><span>Aspiring </span>Software Developer</h3>
    <p>
      Hey there! I'm <span>Aman</span>, a recent graduate in Computer
      Engineering with an unwavering passion for
      <span>Artificial Intelligence</span> and <span>Machine Learning</span> and
      a knack for frontend wizardry.
    </p>
    <p id="extra-content" class="hidden">
      <span>Python</span> has been the bridge between my ideas and their
      realization. Its simplicity and power inspire me to continually explore
      new avenues. <span>Frontend</span> development allows me to blend logic
      with aesthetics. <span>HTML</span>, <span>CSS</span> and
      <span>JavaScript</span> are my tools to create seamless user experiences.
      By understanding the user's perspective, I aim to craft interfaces that
      are not only functional but also visually appealing.
    </p>
    <p id="extra-content" class="hidden">
      The ever-evolving tech landscape drives me to be a perpetual student.
      Online courses, industry insights, and coding communities are my resources
      for continuous growth. Every <span>challenge</span> I tackle is a chance
      to expand my <span>knowledge</span>. Whether you're a fellow enthusiast, a
      mentor, or someone intrigued by the world of coding and AI, I'm eager to
      <span>connect</span>. Explore my portfolio to see my projects and
      endeavors.
    </p>
    <a id="readMore" (click)="readMore()"
      ><i class="bx bx-dots-horizontal-rounded" id="readBtnIcon"></i
    ></a>
  </div>
</section>
