<section class="portfolio" id="portfolio">
  <h2 class="heading">Latest <span>Projects</span></h2>
  <div class="portfolio-container">
    <div class="portfolio-box">
      <img
        src="assets/project-images/movie-recommender.png"
        alt="Movie Recommender"
      />
      <div class="portfolio-layer">
        <h4>Movie Recommender</h4>
        <p>
          A content-based movie recommender that recommends 10 movies based on
          the movie you search for along with the movie details from TMDB.
        </p>
        <a href="http://amannyadav.pythonanywhere.com/" target="_blank"
          ><i class="bx bx-link-external"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/project-images/task-manager.png" alt="task-manager" />
      <div class="portfolio-layer">
        <h4>Task Manager App</h4>
        <p>
          A simple task-manager app, where you can create, complete, edit and
          delete tasks and task-lists.
        </p>
        <a href="https://task-manager-b2e8a.web.app/" target="_blank"
          ><i class="bx bx-link-external"></i
        ></a>
      </div>
    </div>
  </div>
</section>
