<section class="portfolio" id="portfolio">
  <h2 class="heading">Latest <span>Projects</span></h2>
  <div class="portfolio-container">
    <div class="portfolio-box">
      <img
        src="assets/project-images/movie-recommender.png"
        alt="Movie Recommender"
      />
      <div class="portfolio-layer">
        <h4>Movie Recommender</h4>
        <p>
          A content-based movie recommender that recommends 10 movies based on
          the movie you search for along with the movie details from TMDB.
        </p>
        <a href="http://amannyadav.pythonanywhere.com/" target="_blank"
          ><i class="bx bx-link-external"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img
        src="assets/project-images/weather-forecast-app.jpg"
        alt="Movie Recommender"
      />
      <div class="portfolio-layer">
        <h4>Weather Forecast App</h4>
        <p>
          offers a comprehensive view of upcoming weather conditions by
          displaying graphical representation of temperatures for a span of 5
          days. Also has a feature to view the cloud conditions.
        </p>
        <a href="https://weatherforcastapp.streamlit.app/" target="_blank"
          ><i class="bx bx-link-external"></i
        ></a>
      </div>
    </div>
  </div>
</section>
